.validationField {
    color: red;
    font-style: italic;
    font-size: 12px;
    margin-right: 13%;
}

.fail-Indicator {
    position: fixed;
    width: 40%;
    margin: 7% 16% auto;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}