<div id="divCareer" class="form-group">
    <label class="col-lg-2 control-label">Carrera:</label>
    <div class="col-lg-10">
        <select class="form-control" id="select">
            <option value="0">Elegir carrera universitaria...</option>
            <option value="1">Repartidor de pizzas</option>
            <option value="2">Ladrón profesional</option>
            <option value="3">Estafador</option>
            <option value="4">Mafioso</option>
        </select>
    </div>
</div>