<form class="navbar-form navbar-right nav" role="form">
    <div class="form-group">
        <input type="text" class="form-control input-sm" placeholder="Email"> |
    </div>
    <div class="form-group">
        <input type="text" class="form-control input-sm" placeholder="Contraseña">
    </div>
    <div class="checkbox">
        <label class="small">
            <input type="checkbox"> Recordarme &nbsp;
        </label>
    </div>
    <button type="submit" class="btn btn-sm btn-default">Iniciar sesión</button>
</form>