@model String

<div class="col-lg-10 col-lg-push-1">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">@Model</h3>
        </div>
        <div class="panel-body">
            <div class="row container-fluid">
                <ul class="col-lg-6">
                    <li>
                        <p><b>Título:</b> nombre del libro</p>
                    </li>
                    <li>
                        <p><b>Autor:</b> autor del libro</p>
                    </li>
                    <li>
                        <p><b>Descripción:</b> descripción del libro</p>
                    </li>
                    <li>
                        <p><b>Fecha de publicación:</b> fecha de publicación del libro</p>
                    </li>
                    <li>
                        <p><b>Edición:</b> edición del libro</p>
                    </li>
                    <li>
                        <p><b>Área:</b> área de interés del libro</p>
                    </li>
                </ul>                

                <ul class="col-lg-6">
                    <li>
                        <p><b>Título:</b> nombre del libro 2</p>
                    </li>
                    <li>
                        <p><b>Autor:</b> autor del libro 2</p>
                    </li>
                    <li>
                        <p><b>Descripción:</b> descripción del libro 2</p>
                    </li>
                    <li>
                        <p><b>Fecha de publicación:</b> fecha de publicación del libro 2</p>
                    </li>
                    <li>
                        <p><b>Edición:</b> edición del libro 2</p>
                    </li>
                    <li>
                        <p><b>Área:</b> área de interés del libro 2</p>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="row container-fluid">
                <ul class="col-lg-6">
                    <li>
                        <p><b>Título:</b> nombre del libro</p>
                    </li>
                    <li>
                        <p><b>Autor:</b> autor del libro</p>
                    </li>
                    <li>
                        <p><b>Descripción:</b> descripción del libro</p>
                    </li>
                    <li>
                        <p><b>Fecha de publicación:</b> fecha de publicación del libro</p>
                    </li>
                    <li>
                        <p><b>Edición:</b> edición del libro</p>
                    </li>
                    <li>
                        <p><b>Área:</b> área de interés del libro</p>
                    </li>
                </ul>



                <ul class="col-lg-6">
                    <li>
                        <p><b>Título:</b> nombre del libro 2</p>
                    </li>
                    <li>
                        <p><b>Autor:</b> autor del libro 2</p>
                    </li>
                    <li>
                        <p><b>Descripción:</b> descripción del libro 2</p>
                    </li>
                    <li>
                        <p><b>Fecha de publicación:</b> fecha de publicación del libro 2</p>
                    </li>
                    <li>
                        <p><b>Edición:</b> edición del libro 2</p>
                    </li>
                    <li>
                        <p><b>Área:</b> área de interés del libro 2</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
    