@model String

<div class="col-lg-7 col-lg-push-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Model</h3>
        </div>
        <div class="panel-body">
            <p><b>Título:</b> nombre del libro</p>
            <p><b>Autor:</b> autor del libro</p>
            <p><b>Descripción:</b> descripción del libro</p>
            <p><b>Fecha de publicación:</b> fecha de publicación del libro</p>
            <p><b>Edición:</b> edición del libro</p>
            <p><b>Área:</b> área de interés del libro</p>
            
            <hr />

            <p><b>Título:</b> nombre del libro 2</p>
            <p><b>Autor:</b> autor del libro 2</p>
            <p><b>Descripción:</b> descripción del libro 2</p>
            <p><b>Fecha de publicación:</b> fecha de publicación del libro 2</p>
            <p><b>Edición:</b> edición del libro 2</p>
            <p><b>Área:</b> área de interés del libro 2</p>
        </div>
    </div>
</div>
    