@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3 class="title-font">Acerca de la universidad</h3>
    <hr />
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-lg-6">
            <p>
                La Universidad ofrece veinte carreras de Grado que, junto a las capacitaciones de Posgrado
                y la Escuela de Formación Continua, proponen el criterio básico de enseñar a pensar, como forma de acompañar el incesante progreso cultural, científico y tecnológico.
            </p>
            <p>
                La división académica se realiza a través de Departamentos que agrupan las diferentes disciplinas y áreas de investigación.
                En ese sentido, las carreras de Grado se dictan desde los Departamentos de Ingeniería e Investigaciones Tecnológicas, Humanidades y Ciencias Sociales, Ciencias Económicas y Derecho y Ciencia Política.
            </p>
            <p>
                Para aquellos profesionales que quieran capacitarse en distintas disciplinas, Posgrado brinda doctorados, especializaciones
                y maestrías. De esta manera, se ofrecen opciones de estudio acordes a las necesidades de cada área.
            </p>
            <p>
                Por otra parte, las carreras que se dictan desde la Escuela de Formación Continua están destinadas a complementar los estudios
                en disciplinas que no cuentan con títulos de grado que los habilite para ejercer profesionalmente.
            </p>
        </div>

        <div class="col-lg-6">
            <img src="~/Images/books.jpg" alt="biblioteca" class="img-responsive img-rounded" />
        </div>
    </div>
</div>