@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3 class="title-font">Índice alfabético de libros</h3>
    <hr />    
    <div class="btn-toolbar">
        <div class="btn-group col-lg-push-1">
            <a href="##" class="btn btn-sm btn-default">#</a>
            <a href="#A" class="btn btn-sm btn-default">A</a>
            <a href="#B" class="btn btn-sm btn-default">B</a>
            <a href="#C" class="btn btn-sm btn-default">C</a>
            <a href="#D" class="btn btn-sm btn-default">D</a>
            <a href="#E" class="btn btn-sm btn-default">E</a>
            <a href="#F" class="btn btn-sm btn-default">F</a>
            <a href="#G" class="btn btn-sm btn-default">G</a>
            <a href="#H" class="btn btn-sm btn-default">H</a>
            <a href="#I" class="btn btn-sm btn-default">I</a>
            <a href="#J" class="btn btn-sm btn-default">J</a>
            <a href="#K" class="btn btn-sm btn-default">K</a>
            <a href="#L" class="btn btn-sm btn-default">L</a>
            <a href="#M" class="btn btn-sm btn-default">M</a>
            <a href="#N" class="btn btn-sm btn-default">N</a>
            <a href="#Ñ" class="btn btn-sm btn-default">Ñ</a>
            <a href="#O" class="btn btn-sm btn-default">O</a>
            <a href="#P" class="btn btn-sm btn-default">P</a>
            <a href="#Q" class="btn btn-sm btn-default">Q</a>
            <a href="#R" class="btn btn-sm btn-default">R</a>
            <a href="#S" class="btn btn-sm btn-default">S</a>
            <a href="#T" class="btn btn-sm btn-default">T</a>
            <a href="#U" class="btn btn-sm btn-default">U</a>
            <a href="#V" class="btn btn-sm btn-default">V</a>
            <a href="#W" class="btn btn-sm btn-default">W</a>
            <a href="#X" class="btn btn-sm btn-default">X</a>
            <a href="#Y" class="btn btn-sm btn-default">Y</a>
            <a href="#Z" class="btn btn-sm btn-default">Z</a>
        </div>
    </div>

    <div class="vertical-space"></div>

    <div id="#" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "#" );}
    </div>
    <div id="A" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "A");}
    </div>
    <div id="B" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "B");}
    </div>
    <div id="C" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "C");}
    </div>
    <div id="D" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "D");}
    </div>
    <div id="E" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "E");}
    </div>
    <div id="F" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "F");}
    </div>
    <div id="G" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "G");}
    </div>
    <div id="H" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "H");}
    </div>
    <div id="I" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "I");}
    </div>
    <div id="J" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "J");}
    </div>
    <div id="K" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "K");}
    </div>
    <div id="L" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "L");}
    </div>
    <div id="M" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "M");}
    </div>
    <div id="N" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "N");}
    </div>
    <div id="Ñ" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "Ñ");}
    </div>
    <div id="O" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "O");}
    </div>
    <div id="P" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "P");}
    </div>
    <div id="Q" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "Q");}
    </div>
    <div id="R" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "R");}
    </div>
    <div id="S" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "S");}
    </div>
    <div id="T" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "T");}
    </div>
    <div id="U" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "U");}
    </div>
    <div id="V" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "V");}
    </div>
    <div id="W" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "W");}
    </div>
    <div id="X" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "X");}
    </div>
    <div id="Y" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "Y");}
    </div>
    <div id="Z" class="row">
        @{Html.RenderPartial("~/Views/Home/_BookDetails.cshtml", "Z");}
    </div>



</div>
