@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/general/mapView.css")

<div class="container-fluid">
    <h2>Mapa de la universidad</h2>
    <hr />
    <h4>Encuentra tu aula aquí:</h4>    
    <a href="~/Images/mapa_unlam.jpg"><img src="~/Images/mapa_unlam.jpg" alt="mapa_de_la_universidad" class="img-responsive uniPhoto" /></a>
</div>
