@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Ingrese datos del libro</h2>

    <form class="form-horizontal">
        <fieldset>
            <legend></legend>            

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Título:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Título del libro..." autocomplete="off">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Descripción:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Descripción del libro..." autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Autor:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Autor del libro..." autocomplete="off">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Fecha de publicación:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Fecha del libro..." autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Edición:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Edición del libro..." autocomplete="off">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label class="col-lg-2 control-label">Área:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Área del libro..." autocomplete="off">
                    </div>
                </div>
            </div>
        </fieldset>    
    </form>
    <div class="vertical-space"></div>
    <img src="~/Images/book-20clip.png" width="500" alt="book_ilustration" class="img-responsive center-block" />
        
</div>
