@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="vertical-space"></div>
    <div class="alert alert-dismissible alert-danger">
        <h2 class="text-center alert-link">Acceso no autorizado.</h2>
    </div>
    <div>
        <img src="~/Images/oddworld.png" alt="oddworld" class="center-block" />
    </div>
</div>
