@{
    ViewBag.Title = "InternalServer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissible alert-danger text-center">
    <h1 style="color: white;"><b>¡Mierda! Error 500</b></h1>
    <h3 style="color: white;">Esto puede deberse a que el servidor ha encontrado un error que no pudo manejar.</h3>
</div>
