@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="vertical-space"></div>
    <div class="alert btn-danger">
        <h1 class="text-center alert-link"><b>¡Mierda! Error 404</b></h1>
        <h3 class="text-center alert-link">Esto puede deberse a que el servidor no ha encontrado el recurso solicitado.</h3>
    </div>
    <div>
        <img src="~/Images/homer-screaming.png" alt="oddworld" class="center-block" />
    </div>
</div>
