@model IEnumerable<Capa_Entidades.sp_GetLoansHistory_Result>

@{
    ViewBag.Title = "Préstamos otorgados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grilla = new WebGrid(Model, canPage: false, ajaxUpdateContainerId: "LoansGrid");
}


@{
    string range = ((List<string>)Session["User"])[0];
    if (range != "Employee")
    {
        <div class="container-fluid">
            <div class="vertical-space"></div>
            <div class="alert alert-dismissible alert-danger">
                <h2 class="text-center alert-link">Acceso no autorizado.</h2>
            </div>
            <div>
                <img src="~/Images/oddworld.png" alt="oddworld" class="center-block" />
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
                <h1 class="title-font">Historial de préstamos otorgados por la biblioteca</h1>            
    
            <hr />

            <div>
                <style>
                    .table th {
                        text-align: center;
                    }
                </style>

                <div class="col-lg-12">
                    @grilla.GetHtml(
                    htmlAttributes: new { id = "LoansGrid" },
                    tableStyle: "table table-hover active table-bordered text-center",
                    headerStyle: "success",                
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primero",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Último >>",

                    columns: grilla.Columns(
                                            grilla.Column("LoanID", canSort: false, header: "ID Préstamo"),
                                            grilla.Column("Duration", canSort: false, header: "Duración"),
                                            grilla.Column("StartDate", canSort: false, header: "Fecha Inicio"),
                                            grilla.Column("EndDate", canSort: false, header: "Fecha Fin"),
                                            grilla.Column("IdBook", canSort: false, header: "ID Libro"),
                                            grilla.Column("Title", canSort: false, header: "Título"),
                                            grilla.Column("Author", canSort: false, header: "Autor"),
                                            grilla.Column("IdStudent", canSort: false, header: "ID Estudiante"),
                                            grilla.Column("emailStudent", canSort: false, header: "Email Estudiante"),
                                            grilla.Column("IdEmployee", canSort: false, header: "ID Empleado"),
                                            grilla.Column("emailEmployee", canSort: false, header: "Email Empleado"),
                                            grilla.Column("Returned", canSort: false, header: "¿Devuelto?",
                                                            format: @<text> @if (@item.Returned == true)
                                                                            {
                                                                                <label class="label label-default">Ya ha sido devuelto</label>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="@Url.Action("MarkAsReturned", new { id = @item.LoanID })" class="btn btn-xs btn-success">
                                                                                Marcar como devuelto</a>
                                                                            }
                                                                    </text>
                                                         )                                            
                                            )
                      )
                </div>
            </div>
        </div>    
    }
}